 <!-- About Section -->
  <section class="success" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>A propos</h2>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6">
            <img src="{{ site.url }}/img/photo.jpg" class="img-responsive">
          </div>
          <div class="col-md-6">
          <p>J’inscris mon travail dans la veine de la jeune scène des artistes qui conjuguent le savoir-faire d’une pratique artistique à la méthodologie du design, pour concevoir une œuvre en résonnance avec son temps.</p>
          <p>La phase d’analyse de mon sujet de recherche est centrale dans ma pratique. J’ai développé des outils d’observation, de collecte de données et de synthèse, fondés sur l’expérimentation par itération, directement inspirés de la méthodologie de création en design.</p>
          <p>Je place le thème de la mémoire comme point de départ à mes recherches. J’aborde les sujets reliés à l’anthropologie, l’architecture et les traditions populaires oubliées comme des ramifications de ce thème. </p>
          <p>Je m’approprie ce sujet de la mémoire par un jeu de collage, je superpose des motifs graphiques, allant jusqu’au recouvrement partiel de textures obtenues à l’application directe. Condensé, stratifié, j’élabore le motif comme une matière en elle-même. Au cours de ce processus, la sérigraphie constitue ma technique d’impression de prédilection.</p>
          <p>A travers ma pratique je cherche à susciter une inspiration, à initier une introspection chez le spectateur sur son héritage culturel. Par extension, je cherche à invoquer une mémoire collective, et faire naître une fierté pour une identité commune, notre humanité.</p>
          
          <p>Diplômée en design intérieur de l’école ENSAAMA Olivier de Serres à Paris et designer textile, Mathilde Moreau travaille dès 2006 pour des firmes d’architectures spécialisées dans les programmes culturels et à valeur patrimoniale. Après une immigration au Québec, elle concrétise son désir d’exploration de nouvelles techniques en se spécialisant dans le domaine de l’ennoblissement textile au Cégep du Vieux Montréal. D’origine française et installée au Québec depuis 2010, elle fonde son entreprise de design textile en 2014 et présente ses créations d’accessoires textiles et de carrés de soie. Elle participe au Salon des métiers d’arts en 2014 et 2017. La qualité de sa production lui permet de construire une réputation dans le milieu de la création textile Québécoise. En 2017, elle oriente son travail vers l’art visuel et développe la série intitulée « murales », dont une des pièces figure parmi les finalistes du prix François Houdé en 2017.</p>
          </div>
        </div>    
      </div>
    </div>
  </section>
