 <!-- About Section -->
  <section class="success" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>A propos</h2>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p>A la frontière entre design et savoir-faire artisanal, ma démarche de création se caractérise par une observation attentive des objets et environnements qui embellissent le quotidien. Elle s’alimente d’une passion pour le design dans tous ses modes d’expression. Principalement, Je puise mes inspirations dans les revues d’architecture et au fil de mes explorations urbaines. De mes études en design intérieur et architecture, j’ai gardé une grande sensibilité aux tracés des lignes fines et exactes qui composent les plans d’aménagement. Ma formation au Centre de Design et d’Impression Textile m’a permit d’étendre mon champ d’exploration au design textile.</p>
            <p> Le thème de la mémoire est au centre de mon processus créatif. Je travaille mes compositions par recouvrement en référence aux strates et à l’effacement progressif de la mémoire avec le temps. Par un jeu de collage, je superpose des motifs graphiques, allant jusqu’au recouvrement partiel de textures obtenues à l’application directe. Condensé, stratifié, le motif est travaillé comme une matière en elle-même. Les textures obtenues ainsi évoquent les traces que laisse le passé qui sont encore lisibles au présent. Au cours de ce processus, la sérigraphie constitue ma technique d’impression de prédilection.</p>
            <p> J’inscris mon travail dans la veine de la jeune scène des designers-artisans qui conjuguent le savoir-faire d’une technique à la méthodologie du design, pour concevoir un objet résolument ancré dans son temps.</p>
      </div>
    </div>
  </section>
