<section id="portfolio">
  <div class="container-fluid">
    {% for collection in site.data.projects %}
      <div class="col-lg-12 text-center">
        <h2>Collection {{ collection.name }}</h2>
        <hr>
      </div>

      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="col-sm-6 portfolio-nopadding">
            {% for image in collection.images limit:2 %}
            <div class="col-sm-12 portfolio-item">
              {% include image-with-description.html %}
            </div>
            {% endfor %}
          </div>

          <div class="col-sm-6 portfolio-nopadding">
            {% for image in collection.images limit:2 offset:2 %}
            <div class="col-sm-6 portfolio-item">
              {% include image-with-description.html %}
            </div>
            {% endfor %}

            {% assign image = collection.images[4] %}
            <div class="col-sm-12 portfolio-item">
              {% include image-with-description.html %}
            </div>
          </div>

          <div class="col-md-10 col-md-offset-1">
            <div class="portfolio-description">
              <p>{{ collection.description }}</p>
            </div>
          </div>
        </div>
      </div>

    {% endfor %}
  </div>
</section>
